body {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #13CBC4;
  font-weight: 300;
  font-size: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
}

.wrapBody {
  width: 60%;
}

.wrap {
  width: 80%;
}

a.navItem {
  position: relative;
  color: #242424;
  text-decoration: none;
}

a.navItem:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #13CBC4;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.navItem:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.navItem:hover {
  color: #242424;
  text-decoration: none;
}

.main-nav {
  justify-content: space-between;
}

.name {
  font-weight: 100;
  color: #242424;
  font-size: 1.5em;
}

.pageItem {
  font-weight: 400;
  color: #242424;
}

.navItem {
  font-weight: 100;
  color: #242424;
}

.links {
  justify-content: center;
}

.linkIcon {
  width: 30px;
  height: 30px;
}

.copy {
  font-weight: 100;
}

.profilePic {
  border-radius: 5%;
  margin-bottom: 10em;
}

.aboutMe {
  justify-content: center;
}

.aboutText {
  width: 35%;
}

.aboutTextHeading {
  font-weight: 400;
  color: #242424;
}

.aboutTextBody {
  font-weight: 100;
  color: #242424;
}

.resume {
  color: #13CBC4;
  font-weight: 300;
}

.resume:hover {
  color: #13CBC4;
}

.project {
  object-fit: cover;
}

.proj {
  justify-content: space-between;
}

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.hvrbox img {
  max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
  display: block;
}

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(60, 191, 189, 0.9);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox .hvrbox-text {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hvrboxHeading {
  font-size: 3em;
  font-weight: 300;
}

.hvrboxBody {
  font-size: 2em;
  font-weight: 100;
}

.projectName {
  color: #242424;
  font-weight: 400;
  font-size: 2.5em;
  margin-top: 2em;
}

.projectDescription {
  font-weight: 100;
  color: #242424;
  width: 50%;
  font-size: 1.125em;
}

.projectGoal {
  font-weight: 400;
  color: #242424;
  width: 50%;
  font-size: 1.125em;
}

.title {
  color: #27c3ed;
  font-weight: 400;
  margin-top: 6em;
  font-size: 1.5em;
}

.titleRed {
  color: #dd3333;
  font-weight: 400;
  margin-top: 6em;
  font-size: 1.5em;
}

.titleGreen {
  color: #0cb017;
  font-weight: 400;
  margin-top: 6em;
  font-size: 1.5em;
}

.subheading {
  font-size: 1.25em;
}

.projectText {
  font-weight: 100;
  color: #242424;
  font-size: 1.125em;
}

.projectTextRed {
  font-weight: 100;
  color: #dd3333;
  font-size: 1.125em;
}

.vibeImage {
  margin-top: 6em;
}

.arrow {
  margin-top: 25%;
}

.space {
  justify-content: space-between;
}

.vibeDescription {
  margin-top: 4em;
}

.gitHub {
  margin-bottom: 8em;
}

.researchImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.data {
  color: #27c3ed;
  font-size: 1.25em;
}

.lukeProfile {
  display: flex;
  flex-direction: row;
}

.characteristics {
  display: flex;
  flex-direction: column;
}

.char {
  padding: 0 2em;
  margin-left: 3em;
  color: #ffffff;
  background-color: #27c3ed;
  border: 2px solid #27c3ed;
  border-radius: 2em;
}

.lukeQuote {
  color: #27c3ed;
  padding-left: 2em;
  font-weight: 300;
}

.lukeText {
  padding-left: 2em;
}

.marketText {
  width: 55%;
}

.map {
  margin-top: 2em;
}

a.vibeGitHub {
  color: #27c3ed;
  text-decoration: none;
}

a.luluGitHub {
  color: #0cb017;
  text-decoration: none;
}

.bullets {
  margin-left: 35%;
}

.dataGreen {
  color: #0cb017;
  font-size: 1.25em;
}

.apps {
  display: flex;
  flex-direction: row;
}

.green {
  color: #0cb017;
}

@media only screen and (max-width: 600px) {
  
  .mx-5 {
    margin-right: 0!important;
    margin-left: 4rem!important;
  }

  h1 {
    color: #13CBC4;
    font-weight: 300;
    font-size: 1.125em;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .profilePic {
    width:70%!important;
    height:70%!important;
    margin-bottom: 2em!important;
}

.aboutText {
  width: 70%;
}

.aboutTextBody {
  margin-bottom: 2em!important;
}

.hvrbox .hvrbox-layer_top {
display: none;
}


.projectName {
  margin-top: .5em!important;
}

.projectDescription {
  width: 100%!important;
}

.projectGoal {
  margin-top: .5em!important;
  width: 100%!important;
}

.title {
  margin-top: 3em!important;
}

.projectText {
  width: 100%!important;
  text-align: center!important;
}

.text {
  margin-top: 1em;
}


.data {
  text-align: center;
  margin-top: 1em;
}

.lukeProfile {
  display: flex;
  flex-direction: column;
}

.lukeimg {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.char {
  padding: 0!important;
  width: 8em!important;
  margin-top: 1em;
  text-align: center;
}

.lukeQuote {
  padding-left: 0em;
  margin-top: 2em!important;
  width: 100%;
}


.lukeText {
  padding-left: 0em;
}

.vibeImage {
  margin-top: 6em;
  width: 100%!important;
  height: 100%!important;
  align-content: center;
  justify-content: center!important;
}

.col-5 {
  flex: none!important;
  max-width: none!important;
}

.col-7 {
  flex: none!important;
  max-width: none!important;
}

.col-3 {
  flex: none!important;
  max-width: none!important;
}

.title {
  text-align: center;
}

.arrowimg {
  display: none;
}

.dataGreen {
  text-align: center;
}

.col {
  flex: none!important;
  max-width: none!important;
  margin-top: 1em;
  align-content: center;
}

.subheading {
  text-align: center;
}

.scottieimg {
  height: 100%;
  width: 100%;
}

.ml-4 {
  margin-left: 0!important;
  text-align: center;
  margin-top: 1em;
}

.col-8 {
  flex: none!important;
  max-width: none!important;
}

.col-4 {
  flex: none!important;
  max-width: none!important;
}

.coledit {
  flex: none!important;
  max-width: none!important;
}

.titleRed {
  text-align: center;
}

.cycleImage {
  padding-left: 3.5em!important;
}

}

@media only screen and (max-width: 320px) {
  
  .mx-5 {
    margin-right: 0!important;
    margin-left: 2.5rem!important;
  }

}