$bodyFont: 'Roboto', sans-serif;
$black: #707070;
$black: #242424;
$green: #13CBC4;
$blue: #27c3ed;

body {
    font-family: $bodyFont;
}

a.navItem {
    position: relative;
    color: $black;
    text-decoration: none;
}

a.navItem:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: -5px;
left: 0;
background-color: $green;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

a.navItem:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

a.navItem:hover {
    color: $black;
    text-decoration: none;
}

.wrap {
    width: 80%;
}

.main-nav {
    justify-content: space-between;
}

.name {
    font-weight: 100;
    color: $black;
    font-size: 1.5em;
}

.pageItem {
    font-weight: 400;
    color: $black;
}

.navItem {
    font-weight: 100;
    color: $black;
}

h1 {
    color: $green;
    font-weight: 300;
    font-size: 2em;
    margin-top: 5em;
    margin-bottom: 5em;
}

.project {
    object-fit: cover;
}

.proj {
    justify-content: space-between;
}

.links {
    justify-content: center;
}

.linkIcon {
    width: 30px;
    height: 30px;
}

.copy {
    font-weight: 100;
}

.video {
    display: block;
    margin: 0 auto;
    width: 640;
    text-align: center;
}

.profilePic {
    border-radius: 5%;
    margin-bottom: 10em;
}

.aboutMe {
    justify-content: center;
}

.aboutText {
    width: 35%;
}

.aboutTextHeading {
    font-weight: 400;
    color: $black;
}

.aboutTextBody {
    font-weight: 100;
    color: $black;
}

.resume {
    color: $green;
}

.resume:hover {
    color: $green;
}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(60, 191, 189, 0.8);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.hvrboxHeading {
    font-size: 3em;
    font-weight: 300; 
}

.hvrboxBody {
    font-size: 2em;
    font-weight: 100; 
}

.projectName {
    color: $black;
    font-weight: 400;
    font-size: 3em;
    margin-top: 2em;
}

.projectDescription {
    font-weight: 100;
    color: $black;
    width: 60%;
}

.title {
    color: $blue;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 6em;
}

